@font-face {
	font-family: myFont; 
	src: url(valentinevibes.ttf);
}
body {
	background-image: url(images/bg2.jpg);	
	background-attachment: fixed;
	background-size: cover;
}
#titlusite{
	font-family: myFont, Arial;
	color: #b30000;
	font-style: oblique;
	font-weight: bold;
}
#mainimg{
	width : 75%;
	height : auto;
}
img {
	max-width: 100%;
	height: auto; 
}
h1 {
	text-align: center;
	font-family: 'valentine vibes';
}
h2, h3, h4 {
	font-family: 'valentine vibes';
}
h4 {
	color: #9999ff;
}
.Introduction h2, h3 {
	font-family: 'valentine vibes';
	background: linear-gradient(white, coral);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.Introduction {
	background: linear-gradient(to right, white, navy, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cast h2 {
	background: linear-gradient(white, coral);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.figcap {
	background-color: white;
	color: red;
}

.smallpics span {
	font-family: "Comic Sans MS";
	background: linear-gradient(to right, #ccffcc, #80ff80);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.smallpics figure {
	border: solid;
	border-color: black;
	margin: auto;
	display: inline-block;
	background-color: white;
	width: 12%;
}
.smallpics figure figcaption {
	font-family: "Comic Sans MS";
	color: red;
	background-color: white;
	text-align: center;
}
.smallpics p {
	color: whitesmoke;
	background-image: url('images/bg.jpeg') ;
	background-size: cover;
	opacity: 0.8;
	background-repeat: no-repeat;
}
.smallpics3 span {
	background: linear-gradient(to left, aqua, #66ff66);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.vaidemine h3 {
	font-family: 'valentine vibes';
	background: linear-gradient(white, coral);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.smallpics3 {
	background: linear-gradient(to left, white, lightgrey);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ext {
	font-family: "Comic Sans MS";
	background: linear-gradient(to right, black, navy);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ext span {
	font-family: "Comic Sans MS";
	background: linear-gradient(brown, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ext li {
	font-family: "Comic Sans MS";
}
.smallpics2 figure {
	border: solid;
	border-color: black;
	margin: auto;
	display: inline-block;
	background-color: white;
	width: 10%;
}
.smallpics2 figure figcaption {
	font-family: "Comic Sans MS";
	color: red;
	background-color: white;
	text-align: center;
}
div {
	display: inline-flex;
	margin-right: auto;
	padding: 10px;
}

#tabel{
	font-family: myFont;
	font-size: large;
	color: lightpink;
	background-color: black;
}

#watch{
	font-family: "Comic Sans MS";
	font-size: large;
	text-decoration:  none;
	color: navy;
	background-color: gold;
}
table, tr, td, caption{
	border-style: groove;
	border-color: coral;
	border-width: 4px;
	border-collapse: collapse;
}
tr:nth-child(2n+1){
	background-color:  hsl(24, 100%, 95%);
	color: navy;
	font-family: "Comic Sans MS";
}
tr:nth-child(2n){
	background-color: #BCB8B9;
	color: black;
	font-family: "Comic Sans MS";
}
tr:hover{
	background-color: black;
	color: white;
}
p {
	color: black;
	margin: auto;
	font-family: "Comic Sans MS", Arial;
	
}

h3 li{
	font-size: large;
}
.Introduction h2 {
	text-align: left;
}
.main_cast{
	font-family: "Comic Sans MS", Arial;
	font-size: large;
	color: purple; 
	text-align: justify;
	background: linear-gradient(to right, #F0FFFF, #F5F5DC, #FFE4C4, #FFEBCD);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#meniu>ul>li{
	background: linear-gradient(to right, #FFF0CE, #FFD28C);
	font-family: "Comic Sans MS";	
	width: 28%;
	margin: auto;
	vertical-align: top;
	display: inline-block;
}
figure>img{    
	width:100%;    
}

#logo figure{
	margin: auto;
	display: flex;
	justify-content:center;
}
#logo img {
	width: 30%;
	display: block;
}
.trailer article{
	display: inline-block;
}
.trailer article>h3{
	text-align: center;
}

.ost>figure{
	display: inline-block;
	width: 20%;
	height:50px;
	top: 40px;
	margin: auto;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 0 21px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	color: whitesmoke;
	font-family: 'comic sans ms';
}
.ost>figure>audio{
	background-color: red;
}
aside {
	float: right;
	padding: 40px;
	box-shadow: inset 5px 0 5px -5px #990000;
}

iframe {
	width: 535px;
	height: 300px;
}

@media screen and (max-width: 500px) {
	nav, p, span, li, ul {
		display: inline-block;
	}
}